<h2>Listado de cuentas</h2>
<table class="tabla">
  <thead>
    <th>Id</th>
    <th>IBAN</th>
    <th>DNI</th>
  </thead>
  <!-- El asterisco '*' es que es una directiva estructural (modif. el DOM)  -->
  <tr *ngFor="let cuenta of arrayCuentas">
    <td>{{ cuenta.id }}</td>
    <td>{{ cuenta.iban }}</td>
    <td>{{ cuenta.dni }}</td>
    <td><input id="bntDel{{cuenta.id}}" type="button" value="Eliminar" (click)="eliminarCuenta(cuenta.id)" /></td>
    <td><input id="bntEdit{{cuenta.id}}" type="button" value="Editar" (click)="cuentaEditar = cuenta" /></td>
  </tr>
</table>
<table *ngIf="cuentaEditar !== null">
  <tr>
    <td><input [(ngModel)]="cuentaEditar.id" type="number" readonly="readonly" /></td>
  </tr>
  <tr>
    <td><input [(ngModel)]="cuentaEditar.iban" type="text" /></td>
  </tr>
  <tr>
    <td><input [(ngModel)]="cuentaEditar.dni" type="text" /></td>
  </tr>
  <tr>
    <td><input id="bntDel" type="button" value="Modificar" (click)="modificarCuenta(cuentaEditar.id, cuentaEditar)" /></td>
  </tr>
</table>